<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h5 class="header">WHO WE ARE</h5>
                <p class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reprehenderit eveniet vero, id veritatis, itaque provident incidunt voluptates ipsum nisi ut quo molestiae molestias ipsam error, sint odit dolores optio
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reprehenderit eveniet vero, id veritatis, itaque provident incidunt voluptates ipsum nisi ut quo molestiae molestias ipsam error, sint odit dolores optio
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reprehenderit eveniet vero, id veritatis, itaque provident incidunt voluptates ipsum nisi ut quo molestiae molestias ipsam error, sint odit dolores optio
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reprehenderit eveniet vero, id veritatis, itaque provident incidunt voluptates ipsum nisi ut quo molestiae molestias ipsam error, sint odit dolores optio..
               </p>
           
                  
                <div class="card" >
                    <img src="assets\images\Capture1.JPG" class="card-img-top" alt="...">
                </div>
                  
                 
                 <div class="card" >
                    <img src="assets\images\Capture2.JPG" class="card-img-top" alt="...">
                </div>
           
                  
                <div class="card" >
                     <img src="assets\images\University_of_Moratuwa.jpg" class="card-img-top" alt="...">
                 </div>
                 



           
               
              
              





        </div>
        <div class="col-3"></div>
    </div>
    
</div>
