.about{
    text-align: justify;
    font-weight:400;
    
}


.header{
    margin-top: 20px;
    font-weight:600;
    font-size: large;
}




.card-img-top{
    width: px;
    height: 200px;
}
.container{
    color: grey;
}

.card{
    border:solid grey 3px;
    margin-bottom: 5px;
}

.card:hover{
    transform: scale(1.1);
}
