<div class="container">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="label">JOIN US</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Send Us a message..."></textarea>
                </div>
                <button type="button" class="btn btn-success">SEND</button>
            </form>
            <h4 class="contact-header">CONTACT</h4>
            <p class="details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, tempore consequuntur! Repellendus explicabo quo et exercitationem praesentium cum molestiae voluptatum nihil corrupti, qui numquam quia, fugit distinctio modi recusandae necessitatibus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tenetur sed nam ex! Unde a quam illo consequatur placeat accusamus, ea sequi expedita consequuntur, repudiandae, voluptas ratione perspiciatis totam atque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto corporis, sapiente beatae assumenda corrupti unde placeat culpa ullam quasi necessitatibus repellat voluptas quo totam enim atque fuga dolorum magnam? Deleniti.
            </p>
            
            













        </div>

        <div class="col-2"></div>










    </div>
</div>