.btn2{
    margin-top: 10px;
    margin-left: 70px;
    width: 150px;
    background-color: green;
    color: honeydew;
}

.btn2:hover
{
    transform: scale(1.1);
    background-color: rgb(24, 77, 44);
}

.card-img-top:hover
{
	transform: scale(1.1);
}

.card-img-top{
    margin-right:200px ;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
    
  }

.mat-exp-panel{
    margin-left: 95px;
    margin-top: 5px;
    padding-bottom: 0px;
    width: 250px;
    size: 2px;
    
    
    
}

.mat-p-title{
    font-size: 10px;
}

.mat-header{
    height:30px;
}

.header1{
    margin-top: 20px;
    margin-left: 95px;
    
}

.mat-checkbox{
    margin-left:5px;
    size: 10px;
    font-size: 10px;
}


.globe{
    margin-right: 70px;
    margin-top: 30px;
}
