<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Massage</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
             <input id="massage" type="text" class="form-control" size="100px">
        </div>
    </div>

    <div>
    <span class="panel-footer">
       <button type="submit" class="btn btn-primary">PUBLISH</button>
    </span>

    
    <span class="form-group">  
        <select id="option"  name="option"  class="form-control">
            <option value="1">Add</option>
            <option value="2">Image</option>
            <option value="3">Pdf</option>
           
        </select> 
        
    </span>

    <span class="form-group">  
        <select id="option"  name="option"  class="form-control">
            <option value="1">View By</option>
            <option value="2">All Users</option>
            <option value="3">Private</option>
            <option value="4">Public</option>
            <option value="3">Partners</option>
           
        </select> 
        
    </span>
</div>
</div>

