<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col">
            <img src="assets\images\globe.png" class="card-img-top" alt="...">
            <p class="about">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reprehenderit eveniet vero, id veritatis, itaque provident incidunt voluptates ipsum nisi ut quo molestiae molestias ipsam error, sint odit dolores optio
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reprehenderit eveniet vero, id veritatis, itaque provident incidunt voluptates ipsum nisi ut quo molestiae molestias ipsam error, sint odit dolores optio.
            </p>

            
        </div>

        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-2 "></div>

        <div class="col">
            <div class="row">

                <div class="card" id="card1">
                    <div class="card-body">
                      <h5 class="card-title">TOOLBOX</h5>

                      <div class="card" id="card1-2" >
                        <div class="card-body">
                            <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                      
                     
                        </div>
                    </div>
                     
                    </div>
                  </div>


                  <div class="card" id="card2" >
                    <div class="card-body">
                      <h5 class="card-title">EXAMPLES</h5>

                      <div class="card" id="card2-2" >
                        <div class="card-body">
                           <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> 
                      
                     
                        </div>
                    </div>

                        
                     
                    </div>
                  </div>

                  <div class="card" id="card3" >
                    <div class="card-body">
                      <h5 class="card-title">ADDITIVES</h5>

                        <div class="card" id="card3-2" >
                            <div class="card-body">
                                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                         
                            </div>
                        </div>
                     
                    </div>
                  </div>












            </div>
        </div>

        <div class="col-2"></div>
















    </div>
    
</div>
  
